body {
    background-color: rgb(184, 253, 255);
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: rgb(3, 3, 116);
    font-family: Arial, sans-serif;
    text-align: center;
}

h2 {
    color: rgb(167, 142, 3);
    font-family: Arial, sans-serif;
    text-align: center;
}

h3 {
    color: rgb(24, 86, 201);
    font-family: Arial, sans-serif;
    text-align: center;
}

/* img {
    width: 300px;
    height: 200px;
} */

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6305dd;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #853de2;
}

.btn:active {
    background-color: #7725e2;
}

.btn_desistir {
    display: inline-block;
    padding: 10px 20px;
    background-color: #661203;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btn_desistir:hover {
    background-color: #64261a;
}

.btn_desistir:active {
    background-color: #5e1c0f;
}