<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Quiz do Luis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>

<body>
    <hr>
    <h1>Quiz do Luis!</h1>
    <hr>
    <br>
    <h2>Bem vindo ao meu desafio.</h2>
    <br>
    <h3>O desafio que te proponho passa por responder acertadamente a 5 questões extremamente difíceis.</h3>
    <h3>Se responderes acertadamente a todas elas, serás contemplado com uma mensagem motivadora no final.</h3>
    <br>
    <br>
    <h3>Se achas que estás à altura de resolver este desafio, clica no botão Iniciar.</h3>
    <br>
    <br>
    <br>
    <a href="{{ url_for('pergunta1') }}" class="btn">Iniciar</a>
    <br>
    <br>
    <br>
    <br>
    <font size="2">Nota: Tenho perfeita noção de que a escolha das cores do site está horrível, mas estou a melhorar o
        meu CSS,
        prometo ;)</font>
</body>

</html>