<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">

    <title>Pergunta 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>

<body>
    <h1>2ª Questão</h1>
    <br>
    <hr>
    <p>Esta é a segunda questão?</p>
    <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <p style="color: {{ 'red' if category == 'error' else 'green' }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('pergunta2') }}">
        {{ form.hidden_tag() }}
        {{ form.resposta() }}
        {{ form.submit() }}
    </form>


</body>

</html>